
// ----------------- button   medium / small / mini / round
/**
 * @name: mediumBtn
 * @msg: 大尺寸按钮
 */

 $mediumBtn: 10px 20px;

 /**
 * @name: smallBtn
 * @msg: 大尺寸按钮
 */

 $smallBtn: 5px 10px;

 /**
 * @name: miniBtn
 * @msg: 大尺寸按钮
 */

 $miniBtn: 5px 10px;



 // --------------------   字体大小
 /**
  * @name: fontSizeDefault
  * @msg: 默认字体大小
  */
 $fontSizeDefault: 16px,
