/*
 * @Date: 2020-07-01 16:25:58
 * @LastEditors: chenzhanghui
 * $c 代表$color
 */ 

// 多种主题色
// 颜色参考图：https://at-ui.github.io/at-ui/#/zh/guide/color
// ---------------------------  主色
    /**
     * @name: BrandColor
     * @msg: 主色
     */
     $c-primary: #6354D3;
     // 主色hover颜色
     $c-primary-hover: #7b6fd8;
     // 主色背景上的文字颜色
     $c-primary-text-color: #fff; 


    // ---------------------------  辅助色【用于标识状态的按钮等】
    /**
    * @name: success
    * @msg: 成功
    */    
    $c-success: #13CE66;
    $c-success-hover: #8dd1aa;
    $c-success-text-color: #fff;

    /**
    * @name: danger
    * @msg: 危险
    */    
    $c-danger: #FF4949;
    $c-danger-hover: #fc8484;
    $c-danger-text-color: #fff;

    /**
    * @name: warning
    * @msg: 警告
    */    
    $c-warning: #FFC82C;
    $c-warning-hover: #ffdb76;
    $c-warning-text-color: #fff;

    /**
    * @name: info
    * @msg: 信息
    */    
    $c-info: #909399;
    $c-info-hover: #a6a9ad;
    $c-info-text-color: #fff;

    /**
    * @name: default
    * @msg: 默认
    */    
    $c-default: #fff;
    $c-default-hover: #f3f7fa;

    /**
    * @name: text
    * @msg: 文字按钮
    */    
    $c-textButton: #3f536e;
    $c-textButton-hover: #6190E8;

    /**
    * @name: disabled
    * @msg: 禁用状态颜色
    */    
    $c-disabled: #f7f7f7;
    $c-disabled-border: #ececec;

    // ---------------------------  次辅助色【用于不那么重要的信息等】
    /**
    * @name: roof
    * @msg: 次色级别 1
    */    
    $c-roof: #C2ABC7;

    /**
    * @name: curtain
    * @msg: 次色级别 2
    */    
    $c-curtain: #F0D0D5;

    /**
    * @name: door
    * @msg: 次色级别 3
    */ 
    $c-door: #F1E4ED;

    /**
    * @name: wall
    * @msg: 次色级别 4
    */ 
    $c-wall: #EEF0F0;

    // --------------------------- 中性色【用于文本、背景和边框】
    /**
    * @name: header
    * @msg: 标题
    */    
    $c-header: #2C405A;

    /**
    * @name: textBlack
    * @msg: 正文 - 黑
    */    
    $c-textBlack: #35373a;

    /**
    * @name: textGrey
    * @msg: 正文 - 灰
    */    
    $c-textGrey: #8DABC4;

    /**
    * @name: iconColor
    * @msg: 图表
    */    
    $c-iconColor: #A8C6DF;

    /**
    * @name: border
    * @msg: 边框
    */    
    $c-border: #C5D9E8;

    /**
    * @name: bgBlue
    * @msg: 背景色 - 浅蓝
    */    
    $c-bgBlue: #ECF5FD;

    /**
    * @name: bgWhite
    * @msg: 背景色 - 白
    */    
    $c-bgWhite: #fff;  

    // ----------------------------- table 表格颜色配置
    /**
     * @name: $c-table-bg-xxx
     * @msg: 表格的颜色配置
     */
    // default
    $c-table-default-tr-bg: #fff;
    // 白色tr
    $c-table-isBg-tr: #F8F8F8;
    $c-table-tr-hover: #F5F7FA;
    