
// ----------------- button   medium / small / mini / round
/**
 * @name: buttonDefaultPadding
 * @msg: 默认
 */
 $buttonDefaultPadding: 7px 14px;
/**
 * @name: mediumBtn
 * @msg: 大尺寸按钮
 */
 $mediumBtn: 7px 14px;
 $mediumBtnSize: 14px;

 /**
 * @name: smallBtn
 * @msg: 大尺寸按钮
 */

 $smallBtn: 6px 12px;
 $smallBtnSize: 13px;

 /**
 * @name: miniBtn
 * @msg: 大尺寸按钮
 */

 $miniBtn: 5px 10px;
 $miniBtnSize: 13px;

 // --------------------   字体大小
 /**
  * @name: fontSizeDefault
  * @msg: 默认字体大小
  */
 $fontSizeDefault: 14px,
