
// 涟漪样式
.h--ripples--parent {
  position: relative; 
  overflow: hidden;
  * {
    position: relative;
    z-index: 1;
  }
  .h--ripples {
    position: absolute; 
    display: block; 
    width: 1px;
    height: 1px;
    transform: scale(0);
    border-radius: 50%;
    opacity: .8;
    z-index: 0;
  }
}

/**
 * @name: h--table--hover--shadow
 * @msg: 表格hover时的阴影
 */
 @mixin h--table--hover--shadow {
  box-shadow:3px 2px 5px rgb(233, 234, 235);
 }
