/**
 * @name: h--button
 * @msg: 实心按钮公共样式
 * @param {type} String
 */
 @mixin h--button($type, $hover) {
  border: 1px solid $type;
  background: $type;
  &:hover {
    border: 1px solid $hover;
    background: $hover;
  }
}

/**
 * @name: h--button-hollow
 * @msg: 空心按钮
 * @param {type} String
 */
@mixin h--button-hollow($type, $hover) {
  color: $type;
  background: none;
  &:hover {
    background: none;
    border-color: $hover;
    color: $hover;
  }
}