
/**
 * @msg: 默认样式
 */
.h--button {
  padding: $buttonDefaultPadding;
  display: inline-block;
  font-size: $fontSizeDefault;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  color: $c-textBlack;
  .h--button--icon {
    float: left;
    margin-top: 2px;
    margin-right: 3px;
  }
}

/**
 * @name: medium / small / min
 * @msg: 按钮大小
 */
 .h--button--medium {
    font-size: $mediumBtnSize;
    padding: $mediumBtn;
 }
 .h--button--small {
    font-size: $smallBtnSize;
    padding: $smallBtn;
 }
 .h--button--mini {
    font-size: $miniBtnSize;
    padding: $miniBtn;
 }

/**
 * @name: default
 * @msg: 默认
 */
.h--button--default {
  border: 1px solid $c-border;
  background: $c-default;
  &:hover {
    background: $c-default-hover;
  }
}
/**
 * @name: default
 * @msg: 默认空心
 */
.h--button--default--hollow {
  background: none;
  &:hover {
    color: $c-textGrey;
    background: none;
  }
}
/**
 * @name: text
 * @msg: 文字
 */
 .h--button--text {
  border: 0;
  outline: 0;
  background: none !important;
  color: $c-textButton;
  &:hover {
    color: $c-textButton-hover;
  }
 }

 /**
  * @name: disabled
  * @msg: 禁用
  */
 .h--button--disabled:disabled, 
 .h--button--disabled:disabled:active, 
 .h--button--disabled:disabled:hover {
  color: $c-textBlack;
  cursor: not-allowed;
  border-color: $c-disabled-border;
  background-color: $c-disabled;
  &:hover {
    color: $c-textBlack;
  }
}

/**
 * @name: long
 * @msg: 宽度充满父元素
 */
 .h--button--long {
   width: 100%;
 }


/**
 * @name: primary
 * @msg: 主色
 * hollow 空心
 */
.h--button--primary {
  @include h--button($c-primary, $c-primary-hover, $c-primary-text-color)
}
.h--button--primary--hollow {
  @include h--button-hollow($c-primary, $c-primary-hover)
}

/**
 * @name: success
 * @msg: 成功
 * hollow 空心
 */
 .h--button--success {
  @include h--button($c-success, $c-success-hover, $c-success-text-color)
}
.h--button--success--hollow {
  @include h--button-hollow($c-success, $c-success-hover)
}

/**
 * @name: danger
 * @msg: 危险
 * hollow 空心
 */
 .h--button--danger {
  @include h--button($c-danger, $c-danger-hover, $c-danger-text-color)
}
.h--button--danger--hollow {
  @include h--button-hollow($c-danger, $c-danger-hover)
}

/**
 * @name: warning
 * @msg: 警告
 * hollow 空心
 */
 .h--button--warning {
  @include h--button($c-warning, $c-warning-hover, $c-warning-text-color)
}
.h--button--warning--hollow {
  @include h--button-hollow($c-warning, $c-warning-hover)
}

/**
 * @name: info
 * @msg: 信息
 * hollow 空心
 */
 .h--button--info {
  @include h--button($c-info, $c-info-hover, $c-info-text-color)
}
.h--button--info--hollow {
  @include h--button-hollow($c-info, $c-info-hover)
}




