
/**
 * @msg: 默认样式
 */
.h--button {
  padding: $buttonDefaultPadding;
  display: inline-block;
  font-size: $fontSizeDefault;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  @include theme($themes) {
    color: themed('textBlack');
  }
  .h--button--icon {
    float: left;
    margin-top: 2px;
    margin-right: 3px;
  }
}

/**
 * @name: medium / small / min
 * @msg: 按钮大小
 */
 .h--button--medium {
    font-size: $mediumBtnSize;
    padding: $mediumBtn;
 }
 .h--button--small {
    font-size: $smallBtnSize;
    padding: $smallBtn;
 }
 .h--button--mini {
    font-size: $miniBtnSize;
    padding: $miniBtn;
 }

/**
 * @name: default
 * @msg: 默认
 */
.h--button--default {
  @include theme($themes) {
    border: 1px solid themed('border');
    background: themed('default');
    &:hover {
      background: themed('default-hover');
    }
  }
}
/**
 * @name: default
 * @msg: 默认空心
 */
.h--button--default--hollow {
  @include theme($themes) {
    background: none;
    &:hover {
      color: themed('textGrey');
      background: none;
    }
  }
}
/**
 * @name: text
 * @msg: 文字
 */
 .h--button--text {
  border: 0;
  outline: 0;
  background: none !important;
  @include theme($themes) {
    color: themed('textButton');
  }
  &:hover {
    @include theme($themes) {
      color: themed('textButton-hover');
    }
  }
 }

 /**
  * @name: disabled
  * @msg: 禁用
  */
 .h--button--disabled:disabled, 
 .h--button--disabled:disabled:active, 
 .h--button--disabled:disabled:hover {
  @include theme($themes) {
    color: themed('textBlack');
    cursor: not-allowed;
    border-color: themed('disabled-border');
    background-color: themed('disabled');
    &:hover {
      color: themed('textBlack');
    }
  }
}

/**
 * @name: long
 * @msg: 宽度充满父元素
 */
 .h--button--long {
   width: 100%;
 }


/**
 * @name: primary
 * @msg: 主色
 * hollow 空心
 */
.h--button--primary {
  @include h--button('primary')
}
.h--button--primary--hollow {
  @include h--button-hollow('primary')
}

/**
 * @name: success
 * @msg: 成功
 * hollow 空心
 */
 .h--button--success {
  @include h--button('success')
}
.h--button--success--hollow {
  @include h--button-hollow('success')
}

/**
 * @name: danger
 * @msg: 危险
 * hollow 空心
 */
 .h--button--danger {
  @include h--button('danger')
}
.h--button--danger--hollow {
  @include h--button-hollow('danger')
}

/**
 * @name: warning
 * @msg: 警告
 * hollow 空心
 */
 .h--button--warning {
  @include h--button('warning')
}
.h--button--warning--hollow {
  @include h--button-hollow('warning')
}

/**
 * @name: info
 * @msg: 信息
 * hollow 空心
 */
 .h--button--info {
  @include h--button('info')
}
.h--button--info--hollow {
  @include h--button-hollow('info')
}




