
/*
  两种样式的表格
*/
// 白色背景 灰色tr
.h--table--default {
  .el-table td, .el-table th.is-leaf {
    border-bottom: 0;
  }
  .el-table::before {
    background: none;
  }
  .el-table__fixed-right::before, .el-table__fixed::before {
    display: none;
  }
  .el-table .cell{
    width: auto;
    height: 40px;
    width: 100%!important;
    line-height: 40px;
    margin-bottom: 10px;
    transition: all .1s ease-in-out;
    font-weight: normal;
  }
  .el-table td .cell {
    background: $c-table-default-tr-bg;
    font-size: 14px;
  }
  .el-table td:first-child .cell {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .el-table td:last-child .cell {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  // .el-table__body-wrapper .el-table__row {
  //   background: $c-table-default-bg;
  // }
  .el-table td, .el-table th {
    padding: 0;
  }
  .el-table--enable-row-hover .el-table__body tr:hover>td {
    background: none;
  }
  .el-table__body tr.hover-row>td{
    background: none;
  }
  .el-table__body tr.hover-row>td .cell,
  .el-table tr:hover td .cell{
    background: $c-table-tr-hover;
    transform: translateY(-1px);
  }
}

/**
 * @name: h--table--hover--shadow
 * @msg: 是否带阴影
 */
.h--table--hover--shadow {
  .el-table__body tr.hover-row>td .cell,
  .el-table tr:hover td .cell{
    @include h--table--hover--shadow;
  }
}

// 灰色背景 白色tr
.h--table--bg {
  .el-table,
  .el-table th,
  .el-table tr{
    background: none;
  }
  .el-table__body-wrapper .el-table__row {
    background: none;
  }
  .el-table td .cell {
    background: $c-table-isBg-tr;
  }
}