
/**
 * @name: primary-color
 * @msg: 主色
 */
 $primary-color: #6190E8;
 $primary-hover-light-color: #f8f9fc;// 淡色
 $primary-hover-dark-color: #c2d5f7;

/**
 * @name: border
 * @msg: 边框颜色
 */

 $border: #eee;

/**
 * @name: title-color
 * @msg: 标题文字颜色
 */ 
 $title-color: #364355;

/**
 * @name: desc-color
 * @msg: 描述文字颜色
 */ 

 $desc-color: #6d6e70;

/**
 * @name: ui-container-bg
 * @msg: 展示框的背景颜色
 */ 
 $ui-container-bg: #F3F4F9;
